<!-- views/productDetails.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles del Producto</title>
</head>
<body>
    <h1>Detalles del Producto</h1>
    <div>
        <p>ID: {{product._id}}</p>
        <p>Title: {{product.title}}</p>
        <p>Description: {{product.description}}</p>
        <p>Code: {{product.code}}</p>
        <p>Price: {{product.price}}</p>
        <p>Stock: {{product.stock}}</p>
        <p>Category: {{product.category}}</p>
        <p>Thumbnails: {{product.thumbnails}}</p>
    </div>
    <a href="/realtimeproducts">Volver a Productos</a>
</body>
</html>
